<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sebryu.sheepsandkittens"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="Sheeps &amp; Kittens"
                 android:theme="@style/MainTheme"
                 android:allowBackup="true" />
</manifest>
